*{
  box-sizing: border-box;
}
body{
  background-color:blue;
  color: white;
}

@media screen and (max-width:480px) {
  body{
    background-color:red;
  }
}

@media screen and (max-width:320) {
  body{
    background-color:yellow;
  }
}
